@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  transition: transform 2s ease-in-out; /* Smooth transition for position change */
}

.App-header.started {
  transform: translateY(-13rem); /* Moves header up */
}

.title {
  font-family: 'Butcherman', cursive;
  font-size: 8rem;
  margin: 0;
  transition: font-size 0.5s ease-in-out;
}

.title.small {
    font-size: 3rem; /* 75% smaller */
    transform: translateY(-50%); /* Move title up relative to its container */
  }

button {
  all: unset; /* Remove all default button styling */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  font-size: 1.5rem; /* Set font size */
  color: #61dafb; /* Set text color */
  font-family: 'Butcherman', cursive; /* Use the same font for consistency */
  transition: color 0.3s ease; /* Smooth color transition */
}

button:hover {
  color: #21a1f1; /* Change text color on hover */
}

.App-header.started button {
    opacity: 0; /* Hide button by making it transparent */
    pointer-events: none; /* Disable pointer events to prevent clicks */
  }
